

.n-wrapper{
    position: relative;
    flex-wrap: wrap;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 1rem;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
    letter-spacing: 1px;
    background-color: #fff;
    box-shadow: 2px 2px 2px  var(--orange);
    
    
}
.n-left {
    flex-basis:auto;
    align-items: center;
    display: flex;
    gap: 2rem;
    
  }
  
  .n-name {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .n-right {
    display: flex;
    align-items: left;
    font-weight: 400;
    transition: 0.3s  ease-in-out;
  }

  .n-right > ul {
    
    display: flex;
    gap: 2rem;
    font-weight: 400;
    font-size: 18px;
    transition: 0.3s  ease-in-out;
  }
  
  .n-right>ul>li{
    transition: 0.3s  ease-in-out;
    margin: auto;
  }

 .n-link .n-button{
    font-weight: 700;
    color: #121212;
    border: 1px solid #121212;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
      z-index: 10;
      background-color: var(--orange);
  }
  .n-link .n-button span{
    position: inherit;
    z-index: 15;
  }
.n-link:hover{
    color: #e74d06;
    cursor: pointer;
}
  
  
  .n-link .n-button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color:var(--black);
    left: 0;
    top: 0;
    z-index: 11;
    transition: 0.6s ease-in-out;
  }

  .n-link .n-button:hover {
    color: #fff;
    cursor: pointer;
  }
  .n-link .n-button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }
  .n-middle{
    display: none;
  }


  @media screen and (max-width: 800px) {
    .n-wrapper{
      position: sticky;
    }
    .n-left{
      width: 80%;
    }
    .n-middle{
      display: block;
      cursor: pointer;
    }
    .n-right{
     position: absolute;
     top: 90px;
     left:-202px ;
     width: 200px;
      display: none;
      display:block;
      padding: 20px 0;
      background-color:var(--white);
      /* border: 1px solid var(--black); */
      box-shadow: 2px 2px 2px 1px var(--orange);
     
    }
    .n-right > ul {
     
      flex-direction: column;
      
    }
    
    
    .n-right.active{
      
      left: 2px;
    }
    .n-link .n-button{
     
      padding: 10px 24px;
      margin-left: 10px;
      font-size: 15px;
    }
  }