/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}


:root
{
  --rorange:#ec8a60;
    --orange : #FCA61F;
    --black : #0d2137;
    --gray : #788097;
    --blue:#2E77AE;
--whiten:#E0EAF5;
   
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
} */

body {
  font-weight: 400;
  background-color: whitesmoke !important;
  color: #121212;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}




.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

}

.title > :nth-child(1) {
  color: var(--black);
font-weight: bold;
font-size: 3rem;
}
.title > :nth-child(2) {
color: var(--rorange);
font-weight: bold;
font-size: 1.5rem;
text-align: center;
}
